
	<!-- <div id="breadcrumb">
		<div class="container">	
			<div class="breadcrumb">							
				<li><a href="index.html">Home</a></li>
				<li>About Us</li>			
			</div>		
		</div>	
	</div> -->
	
	<div class="aboutus">
		<div class="container">
			<h3>Our company information</h3>
			<hr>
			<div class="col-md-7 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
				<img src="images/aviro/solar1.jpg" class="img-responsive">
				<h4>We Design and Make it Real</h4>
				<p>AVIRO Analyzer and Designer is the Indian consultancy company which provides Industrial power and Renewable energy services
				to the customers. Besides from it, AVIRO Analyzer and Designer Services also provides the better solution & optimal solar
				design. A highly skilled team behind the AVIRO Analyzer and Designer with the excelent technical knowledge of optimal power
				design & planning makes the AVIRO preferred for design in many small, medium, commercial & residential sector. "
</p>
			</div>
			<div class="col-md-5 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
				<div class="skill">
					<h2>Our Skills</h2>
					<p></p>

					<div class="progress-wrap">
						<h4>Energy Audit</h4>
						<div class="progress">
						  <div class="progress-bar  color1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
							<span class="bar-width">100%</span>
						  </div>

						</div>
					</div>

					<div class="progress-wrap">
						<h4>Design And Analysis And Installation</h4>
						<div class="progress">
						  <div class="progress-bar color2" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
						   <span class="bar-width">100%</span>
						  </div>
						</div>
					</div>

					<div class="progress-wrap">
						<h4>MEP Work</h4>
						<div class="progress">
						  <div class="progress-bar color3" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
							<span class="bar-width">100%</span>
						  </div>
						</div>
					</div>

					<div class="progress-wrap">
						<h4>Inspection of System.</h4>
						<div class="progress">
						  <div class="progress-bar color4" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
							<span class="bar-width">100%</span>
						  </div>
						</div>
					</div>
				</div>				
			</div>
		</div>
	</div>
	
	<div class="our-team">
		<div class="container">
			<h3>Our Team</h3>	
			<div class="text-center">
				<div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
					<img src="images/services/3.jpg" alt="" >
					<h4>Abhijeet Phirake</h4>
					<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing eil sed deiusmod tempor</p> -->
				</div>
				<div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
					<img src="images/services/3.jpg" alt="" >
					<h4>Vishal Narkhede</h4>
					<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing eil sed deiusmod tempor</p> -->
				</div>
				<div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
					<img src="images/services/3.jpg" alt="" >
					<h4>Rohit Phirake</h4>
					<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing eil sed deiusmod tempor</p> -->
				</div>
			</div>
		</div>
	</div>
	
	