<!-- <div id="breadcrumb">
    <div class="container">
        <div class="breadcrumb">
            <li>
                <a ui-sref="home">Home</a>
            </li>
         
        </div>
    </div>
</div> -->
<style>

.contact{
    font-size: 15px;
    font-weight: bold;
}

</style>

<section id="main-slider" class="no-margin">
    <div class="carousel slide">
        <div class="carousel-inner">
            <div class="item active" style="background-image: url(images/slider/bg1.jpg)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h2 class="animation animated-item-1">Welcome to
                                    <span>AVIRO</span> Analyzer and Designer
                                </h2>
                                <p class="animation animated-item-2" style="font-size:18px;">AVIRO Analyzer and Designer Services provides consultancy for design of solar system with a focus of reduce the electricity
                                    bill of industrial, comercial & residential. Our consultancy service includes feasibility studies, site visit, optimal
                                    solution for plant installation. Along with this we also provides the design of the same covering all details in it.
                                    Customized Design Solution & Percise Planning through continuous embarkation. We are often evolving new idea & solutions
                                    adding value to the project. We have a team of excellent knowledge & experience in solar.</p>
                            </div>
                        </div>

                        <div class="col-sm-6 hidden-xs animation animated-item-4">
                            <div class="slider-img">
                                <img src="images/slider/img3.png" class="img-responsive">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--/.item-->
        </div>
        <!--/.carousel-inner-->
    </div>
    <!--/.carousel-->
</section>
<!--/#main-slider-->

<div class="feature">
    <div class="container">
        <div class="text-center">
            <div class="col-md-3">
                <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <i class="fa fa-book"></i>
                    <h2>Energy Audit</h2>
                    <p>Energy Audit detail</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <i class="fa fa-laptop"></i>
                    <h2>Designs & Analysis</h2>
                    <p>Quisque eu ante at tortor imperdiet gravida nec sed turpis phasellus.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <i class="fa fa-heart-o"></i>
                    <h2>MEP Work</h2>
                    <p>Quisque eu ante at tortor imperdiet gravida nec sed turpis phasellus.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms">
                    <i class="fa fa-cloud"></i>
                    <h2>Inspection of System.</h2>
                    <p>Quisque eu ante at tortor imperdiet gravida nec sed turpis phasellus.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about">
    <div class="container">
        <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>About us</h2>
            <img src="images/6.jpg" class="img-responsive" />
            <p>"AVIRO Analyzer and Designer consultant provides primary solution & optimal solar design considering its cost which is depends
            on the customer. We provides the solar design which is affordable to our any customer. We provides the solar design & its
            BOM as per the customer requirement & budget."
            </p>
        </div>

        <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <h2>AVIRO Analyzer and Designer Services</h2>
            <p>AVIRO Analyzer and Designer is the Indian consultancy company which provides Industrial power and Renewable energy services
            to the customers. Besides from it, AVIRO Analyzer and Designer Services also provides the better solution & optimal solar
            design. A highly skilled team behind the AVIRO Analyzer and Designer with the excelent technical knowledge of optimal power
            design & planning makes the AVIRO preferred for design in many small, medium, commercial & residential sector. "

                    </p>
        </div>
    </div>
</div>

<div class="lates">
    <div class="container">
        <div class="text-center">
            <h2>Lates News</h2>
        </div>
        <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <img src="images/aviro/solar1.jpg" class="img-responsive" />
            <h4>500 KW Project Design And Installation at Nashik</h4>
            <p>
            </p>
        </div>

        <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <img src="images/aviro/solar3.jpg" class="img-responsive" />
            <h4>100 KW Project Design And Installation at Beed</h4>
            <p>
            </p>
        </div>

        <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
            <img src="images/aviro/solar2.jpg" class="img-responsive" />
            <h4>Maintainance SANY heavy industries India Pvt Ltd with capacity of 801 kw solar power</h4>
            <p>
            </p>
        </div>
    </div>
</div>

<section id="partner">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Our Customer</h2>
            <p></p>
        </div>

        <div class="partners">
            <ul>
                <li>
                    <a href="#">
                        <img  width="200" height="200" class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="images/partners/Tata_Power_Logo.png">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img width="200" height="200" class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src="images/partners/Sany_Logo.png">
                    </a>
                </li>
               
            </ul>
        </div>
    </div>
    <!--/.container-->
</section>
<!--/#partner-->

<section id="conatcat-info">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="pull-left">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="media-body">
                        <h2>Have a question or need a custom quote?</h2>
                       
                        <ul>
                            

                                <li>
                                    <h3>Vishal Narkhede</h3>
                                    <span class="contact">Email : vnarkhede131@gmail.com</span>
                                    <span class="contact">&nbsp;Mob : 07276064202</span>
                                </li>

                                <li>
                                    <h3>Rohit Phirke</h3>                                   
                                    <span class="contact">&nbsp;Mob : 07276064202</span>
                                </li>
                              
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.container-->
</section>
<!--/#conatcat-info-->