
	<!-- <div id="breadcrumb">
		<div class="container">	
			<div class="breadcrumb">							
				<li><a href="index.html">Home</a></li>
				<li>Services</li>			
			</div>		
		</div>	
	</div> -->
	
	<div class="services">
		<div class="container">
			<h3>Our Services</h3>
			<hr>
			<div class="col-md-6">
				<img src="images/aviro/solar1.jpg" class="img-responsive">
				<p>AVIRO Analyzer and Designer consultant provides primary solution & optimal solar design considering its cost which is depends
				on the customer. We provides the solar design which is affordable to our any customer. We provides the solar design & its
				BOM as per the customer requirement & budget.</p>
			</div>
			
			<div class="col-md-6">
				<div class="media">
					<ul>
						<li>
							<div class="media-left">
								<i class="fa fa-energy"></i>					
							</div>
							<div class="media-body">
								<h4 class="media-heading">Energy Audit</h4>
								<ul style="color:#000;">								
									<li>1. Planning & Execution of Energy Audit.</li>
									<li>2. Site Discription And Information </li>
									<li>3. Energy System, Applications And Use Discriptions</li>
									<li>4. Total Energy Use And Cost Summary </li>
									<li>5. Energy Management Procedures And Problems</li>
									<li>6. Recommendations</li>
								
								</ul>
							</div>
						</li>
						<li>
							<div class="media-left">
								<i class="fa fa-book1"></i>						
							</div>
							<div class="media-body">
								<h4 class="media-heading">Design & Analysis</h4>
								<h5>Solar System Design</h5>
								<ul style="color:#000;">
									<li>1. Solar Sturecture Design.</li>
									<li>2. Single Line Diagram </li>
									<li>3. Solar Shadow Analysis</li>
									<li>4. Provide BOQ/BOM </li>									
								</ul>
								<h5>Electrical System Design</h5>
								<ul style="color:#000;">
									<li>1. Single Line Diagram.</li>
									<li>2. UPS Sizing </li>
									<li>3. Battery Bank Sizing</li>
									<li>4. APFC Sizing </li>
									<li>5. Cable Selection and Sizing</li>
									<li>6. Selection and Sizing of Electrical Equipment Used in Various Projects</li>
									<li>7. Substation Design </li>
									<li>8. Design of Earthing System, Lighting System and Lighting Protection System </li>
									<li>9. Design of Power Distribution System</li>
								
								</ul>
							</div>
						</li>
						<li>
							<div class="media-left">
								<i class="fa fa-rocket1"></i>						
							</div>
							<div class="media-body">
								<h4 class="media-heading"> MEP Work</h4>
								<ul style="color:#000;">
									<li>1. Planning & Execution of Energy Audit.</li>
									<li>2. Site Discription And Information </li>
									<li>3. Energy System, Applications And Use Discriptions</li>
									<li>4. Total Energy Use And Cost Summary </li>
									<li>5. Energy Management Procedures And Problems</li>
									<li>6. Recommendations</li>
								
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>	
	
	<div class="sub-services" style="display:none;">
		<div class="container">
			<div class="col-md-6">
				<div class="media">
					<ul>
						<li>
							<div class="media-left">
								<i class="fa fa-pencil"></i>						
							</div>
							<div class="media-body">
								<h4 class="media-heading">Landing Page</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat 
								libero, pulvinar tincidunt leo consectetur eget.</p>
							</div>
						</li>
						<li>
							<div class="media-left">
								<i class="fa fa-book"></i>						
							</div>
							<div class="media-body">
								<h4 class="media-heading">Training</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat 
								libero, pulvinar tincidunt leo consectetur eget.</p>
							</div>
						</li>
						<li>
							<div class="media-left">
								<i class="fa fa-rocket"></i>						
							</div>
							<div class="media-body">
								<h4 class="media-heading">Logo Design</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat 
								libero, pulvinar tincidunt leo consectetur eget.</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
						
			<div class="col-md-6">
				<img src="images/4.jpg" class="img-responsive">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat 
				libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
				libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
				libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque</p>
			</div>
		</div>
	</div>
	
	